<h1 class="title p-4"> Edit Product </h1>
<div class="form">
<form action="" method="post">

   <input class="inp" type="text" name="name" placeholder="Product name" value="<%= product.name %>">
   <div class="inp">
   <label  for="product_image">Product Image</label>
   <input class="ps-5" type="file" name="product_image" id="" value="<%= product.product_image %>"  placeholder="Product Image">
   </div>
   <input class="inp" id="description" type="text" name="description" value="<%= product.description %>" placeholder="Product description">
   <label class="ps-3" for="category">Category:</label>
    <select class="inp p-3" id="category" name="category" value="<%= product.category %>" required>
      <option value="<%= product.category %>">Select Category</option>
      <% categories.forEach(category => { %>
        <option value="<%= category.name %>"><%= category.name %></option>
      <% }) %>
    </select>
   <input class="inp" type="number" name="price" id="" placeholder="Price" value="<%= product.price %>">
   <fieldset class="p_status ps-3 ">
      <legend>Status</legend>
      <input type="radio" id="html" name="product_status" value="In Stock" >
      <label for="html">In Stock</label><br>
      <input type="radio" id="css" name="product_status" value="Out of Stock">
      <label for="css">Out of Stock</label><br>
      <input type="radio" id="javascript" name="product_status" value="Coming Soon">
      <label for="javascript">Coming Soon</label>
   </fieldset>
   <input class="inp" type="text" name="sku" id="" placeholder="SKU" value="<%= product.sku %>">
   <input class="submit" type="submit" name="" id="" value="Update">

</form>
</div>
